
@{
    ViewBag.Title = "Home Page";
}


<style>
    .jumbotron {
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    h1,h2,h3{

    text-align: center; 
    text-shadow: -5px 9px 14px black;
    }
</style>

<div class="container">
    <h1>Portal Logística de Materiais</h1>

    <h2>Este portal tem por objetivo trazer as mais diversas informações referentes a Materiais</h2>
</div>

<div style="margin-top: 20%;">
   
    @if (Request.IsAuthenticated )
    {
        

                <h3 style="
    background-color: #040404;
    width: 700px;
    margin: auto;
    box-shadow: 4px 2px 20px 17px black;">Utilize o Menu Superior para acessar as informações disponíveis</h3>
            }
    else
    {

        <h3><a href="~//Account/Login" class="btn btn-default btn-lg">Entrar no Sistema</a></h3>
    }


</div>

