
<div class="col-lg-12" style="margin-left: 8%;">
    <div class="col-lg-3">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value=0 class="radio" checked />
        </div>
        <div class="label-radio">
            Listar por PLM
        </div>
    </div>

    

    <div class="col-lg-3">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value=1 class="radio" />
        </div>
        <div class="label-radio">
           Listar por Appia
        </div>
    </div>

   

</div>
