
@{
    ViewBag.Title = "Index";
}



<h2>Extrato do Centro F0B1</h2>

<h4>Saldo dos Materiais armazenados no centro logístico F0B1 (Atualmetne gerido por AT)</h4>

<div class="row">
    <div id="DropDownsContainer" style="margin-top: 1%;">

        @Html.Partial("_DropDowns")
    </div>
</div>





<div class="container">

    <div class="col-lg-12 ">
        <div style="margin-top: 2%;">
            <div class="col-lg-9">
                <div class="pull-left">

                    <ul class="ul-resumo">
                        <li><h5>Estoque: <span id="spanEstoque" /></h5>  </li>
                        <li><h5>Consumo: <span id="spanConsumo" /></h5></li>                     
                        <li><h6>Lembrando que o estoque informado refere-se ao mês vigente</h6></li>
                    </ul>


                </div>

            </div>
            <div class="col-lg-3">
                <div class="pull-right">
                    <button id="btn_exporta" class="btn btn-default xlsx">Exporte para Excel</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div style="margin-top: 2%;">
        <div class="col-lg-12">
            <style>
                th {
                    text-align: center;
                }

                .DTFC_LeftBodyLiner {
                    top: -12px !important;
                }

                .pencil {
                    border-radius: 5px;
                    height: 25px;
                }

                    .pencil:hover {
                        box-shadow: 3px -2px 18px 7px black;
                    }
                .ul-resumo {
                    list-style: none;
                }

            </style>

            <div id="divF0b1">   </div>
        </div>
    </div>
</div>



@section scripts
{
    <script type="text/javascript">
        var cabecalho
        var dto
        var perfil

        function CarregaCabecalho() {

            dto = {

                Gestor: $('#listaGestor').val(),
                Familia: $('#listaFamilia').val(),
                Material: $('#listaMaterial').val(),


            }

            cabecalho = '';
            cabecalho = new Array();

            $.ajax({
                type: 'GET',
                data: {
                    dto
                },
                url: '/api/F0b1s/TrazDropDown',
                dataSrc: "",
                success: function (d) {

                    cabecalho = d;
                    CriaDropDowm(cabecalho);

                },
                datatype: 'json'

            });
        }

        function CriaDropDowm(cabecalho) {


            $('#listaMaterial').html('');
            if (dto.Material === '') {
                $('#listaMaterial').append("<option value=''></option>");
                cabecalho.materiais.forEach(function (e) {
                    $('#listaMaterial').append("<option value='" + e + "'>" + e + "</option>");
                });
            } else {
                $('#listaMaterial').append("<option value='" + dto.Material + "'selected>" + dto.Material + "</option>");
                $('#listaMaterial').append("<option value=''></option>");
            }


            $('#listaFamilia').html('');
            if (dto.Familia === '') {
                $('#listaFamilia').append("<option value=''></option>");
                cabecalho.familias.forEach(function (e) {
                    $('#listaFamilia').append("<option value='" + e + "'>" + e + "</option>");
                });
            } else {
                $('#listaFamilia').append("<option value='" + dto.Familia + "'selected>" + dto.Familia + "</option>");
                $('#listaFamilia').append("<option value=''></option>");
            }

            $('#listaGestor').html('');
            if (dto.Gestor === '') {
                $('#listaGestor').append("<option value=''></option>");
                cabecalho.gestores.forEach(function (e) {
                    $('#listaGestor').append("<option value='" + e + "'>" + e + "</option>");
                });
            } else {
                $('#listaGestor').append("<option value='" + dto.Gestor + "' selected>" + dto.Gestor + "</option>");
                $('#listaGestor').append("<option value=''></option>");
            }




            $('#listaMaterial').select2({
                theme: "classic",
                placeholder: "Selecione o Material",
                language: "pt-BR",
                allowClear: true
            });

            $('#listaFamilia').select2({
                theme: "classic",
                placeholder: "Selecione a Família",
                language: "pt-BR",
                allowClear: true
            });

            $('#listaGestor').select2({
                theme: "classic",
                placeholder: "Selecione o Gestor",
                language: "pt-BR",
                allowClear: true
            });


            var estilo = $('.select2');

            for (var i = 0; i < estilo.length; i++) {
                estilo[i].style.width = '100%';
            }




            CarregaDataTable()



        }

        function ExportaPagina(result) {
            table = '';

            dataRst = '';



            dataRst = new Array();


            var i = 1;

            dataRst[0] = [
                { v: "Material", t: 's' },
                { v: "Descrição do Material", t: 's' },
                { v: "Classe", t: 's' },
                { v: "Unidade de Medida", t: 's' },
                { v: "Classificação", t: 's' },
                { v: "Familia", t: 's' },
                { v: "MG Code CodigoSap", t: 's' },
                { v: "MG Code Descricao", t: 's' },
                { v: "Gestor do Material", t: 's' },
                { v: "Lote", t: 's' },
                { v: "Estoque em Qtde", t: 's' },
                { v: "Estoque em Reais", t: 's' },
                { v: "Consumo em Qtde", t: 's' },
                { v: "Consumo em Reais", t: 's' },
                { v: "Valor de Referência", t: 's' },
                { v:"Data da Informação" , t: 's' },
                


            ];

            result.forEach(function (r) {

                dataRst[i] = [
                    { v: r.materialCodSap, t: 's' },
                    { v: r.materialDescricao, t: 's' },
                    { v: r.materialClasse, t: 's' },
                    { v: r.materialUM, t: 's' },
                    { v: r.classificacaoNome, t: 's' },
                    { v: r.familiaNome, t: 's' },
                    { v: r.mGCodeCodigoSap, t: 's' },
                    { v: r.mGCOdeDescricao, t: 's' },
                    { v: r.userName, t: 's' },
                    { v: r.lote, t: 's' },
                    { v: r.estqQtde, t: 'n' },
                    { v: r.estqValor, t: 'n' },
                    { v: r.consumoQtde, t: 'n' },
                    { v: r.consumoValor, t: 'n' },
                    { v: r.valorDeReferencia, t: 'n' },
                    { v: r.dataLanc ,t: 'd' }
                    
                    

                ]
                i++;
            });




            var table = $('#f0b1Table').tableExport();
            table.export2file(dataRst, 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'Listagem_do_F0B1', '.xlsx')
            var botao = $('#btn_exporta')[0]
            var imagem = $('#imagemLoad')[0]
            imagem.style.display = "none"
            botao.style.visibility = "visible"
            return;
        }

        function CarregaDataTable() {

            var sb = $('#divF0b1')
            sb.html('');
            sb.append("<table id='f0b1Table' class='table table- striped text- nowrap table- hover'>" +
                "  <thead > <tr>" +


                "   <th>Material                </th> " +
                "   <th>Descrição do Material   </th> " +
                "   <th>Classe                  </th> " +
                "   <th>Unidade de Medida       </th> " +
                "   <th>Classificação           </th> " +
                "   <th>Familia                 </th> " +
                "   <th>MG Code CodigoSap       </th> " +
                "   <th>MG Code Descricao       </th> " +
                "   <th>Gestor do Material      </th> " +
                "   <th>Lote                    </th> " +
                "   <th>Estoque em Qtde         </th> " +
                "   <th>Estoque em Reais        </th> " +
                "   <th>Consumo em Qtde         </th> " +
                "   <th>Consumo em Reais        </th> " +
                "   <th>Valor de Referência     </th> " +
                "   <th>Data da Informação      </th> " +
                

                " </tr> </thead > <tbody> </tbody> </table >"
            );

            var tabela = $("#f0b1Table").DataTable({

                ajax: {
                    data: {
                        dto
                    },
                    url: "/api/F0b1s/ListaF0b1",
                    dataSrc: ""
                },
                columns: [

                    {data:"materialCodSap"                     },
                    {data:"materialDescricao"                  },
                    {data:"materialClasse"                     },
                    {data:"materialUM"                         },
                    {data:"classificacaoNome"                  },
                    {data:"familiaNome"                        },
                    {data:"mGCodeCodigoSap"                    },
                    {data:"mGCOdeDescricao"                    },
                    {data:"userName"                           },
                    {data:"lote"                               },
                    {data:"estqQtde"         , render: $.fn.dataTable.render.number('.', ',', 2) },
                    {data:"estqValor"        , render: $.fn.dataTable.render.number('.', ',', 2) },
                    {data:"consumoQtde"      , render: $.fn.dataTable.render.number('.', ',', 2) },
                    {data:"consumoValor"     , render: $.fn.dataTable.render.number('.', ',', 2) },
                    {data:"valorDeReferencia", render: $.fn.dataTable.render.number('.', ',', 2) },
                    {data:"dataLanc"                          },




                ],

                "scrollX": true,
                "scrollY": "360px",
                "scrollCollapse": true,
                "deferRender": true,
                "fixedColumns": {
                    leftColumns: 2,
                }


            })

            var imgm = $('#imagemLoad')[0]
            imgm.style.display = "none"
        }

        function AtualizaSpans() {
            var estoque = 0;
            var consumo = 0;
           
            //rst = new Array();
            $.ajax({
                type: 'GET',
                data: {
                    dto
                },
                url: "/api/F0b1s/TrazResumo",
                dataSrc: "",
                success: function (d) {

                    
                        estoque = d.estqValor
                        consumo = d.consumoValor
                     
                    

                    //var z =
                    $('#spanEstoque')[0].textContent = 'R$ ' + parseFloat(estoque.toFixed(2)).toLocaleString('pt-BR')

                    $('#spanConsumo')[0].textContent = 'R$ ' + parseFloat(consumo.toFixed(2)).toLocaleString('pt-BR')                   


                }

            })


        }


        $(document).ready(function () {
            var imgm = $('#imagemLoad')[0]

            imgm.style.display = ""
            CarregaCabecalho()
            AtualizaSpans()
            $('.demo-default').on("change", function () {
                var imgm = $('#imagemLoad')[0]
                imgm.style.display = ""

                CarregaCabecalho()
                AtualizaSpans()
            });

            $('#btn_exporta').on('click', function () {
                var botao = $('#btn_exporta')[0]
                var imagem = $('#imagemLoad')[0]
                imagem.style.display = ""
                botao.style.visibility = 'hidden'

                $.ajax({
                    type: 'GET',
                    data: {
                        dto
                    },
                    url: '/api/F0b1s/ListaF0b1',
                    dataSrc: "",
                    success: function (d) {

                        ExportaPagina(d);


                    }

                })

            });
        })




    </script>
}


@*
materialID
materialCodSap
materialDescricao
materialClasse
materialUM
classificacaoNome
familiaNome
mGCodeCodigoSap
mGCOdeDescricao
userName
lote
estqQtde
estqValor
consumoQtde
consumoValor
valorDeReferencia
dataLanc
    
    *@         