
<div class="col-lg-12">

    <div class="col-lg-2">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porResumo" class="radio" checked />
        </div>
        <div class="label-radio">
            Resumo
        </div>
    </div>

    <div class="col-lg-2">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porMaterial" class="radio" />
        </div>
        <div class="label-radio">
            Material
        </div>
    </div>

    <div class="col-lg-2">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porCentro" class="radio" />
        </div>
        <div class="label-radio">
            Centro e Material
        </div>
    </div>

    <div class="col-lg-2">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porDiretoria" class="radio" />
        </div>
        <div class="label-radio">
            Centro ... Diretoria
        </div>
    </div>

    <div class="col-lg-2">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porSubDiretoria" class="radio" />
        </div>
        <div class="label-radio">
            Centro ... Processo
        </div>
    </div>

    <div class="col-lg-2">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porProjeto" class="radio" />
        </div>
        <div class="label-radio">
            Centro ... Solicitante
        </div>
    </div>



</div>