

<div class="col-lg-12">

    <div class="col-lg-2">
        <label>Empresa</label>

        <div id="selectEmpresa">
            <select id="listaEmpresa" class="demo-default">
                <option></option>
            </select>

        </div>


    </div>


    <div class="col-lg-2">
        <label>Material</label>
        <div id="selectMaterial">

            <select id="listaMaterial" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <label>Famila</label>
        <div id="selectFamilia">

            <select id="listaFamilia" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <label>Gestor</label>
        <div id="selectGestor">

            <select id="listaGestor" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div id="divCentro" class="col-lg-2" style="display:none">
        <label>Centro</label>
        <div id="selectCentro">

            <select id="listaCentro" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>


</div>

