
<div class="col-lg-12">
    

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="ConsumoValor" class="radio" />
        </div>
        <div class="label-radio">
            Consumo por Valor
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="EntradaValor" class="radio" />
        </div>
        <div class="label-radio">
            Entradas por Valor
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="EstoqueValor" class="radio" />
        </div>
        <div class="label-radio">
            Estoque por Valor
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="ConsumoQtde" class="radio" />
        </div>
        <div class="label-radio">
            Consumo por Quantidade
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="EntradaQtde" class="radio" />
        </div>
        <div class="label-radio">
            Entradas por Quantidade
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="EstoqueQtde" class="radio" />
        </div>
        <div class="label-radio">
            Estoque por Quantidade
        </div>
    </div>

    <div class="col-lg-4">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="Resumo" class="radio" checked />
        </div>
        <div class="label-radio">
            Resumo
        </div>
    </div>

       

</div>
