

<div class="col-lg-12" style="margin-left: 8%;">

    <div class="col-lg-3">
        <label>Empresa</label>

        <div id="selectEmpresa">
            <select id="listaEmpresa" class="demo-default">
                <option></option>
            </select>

        </div>


    </div>

    <div class="col-lg-2">
        <label>Pedido</label>
        <div id="selectPedido">

            <select id="listaPedido" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>
    <div class="col-lg-2">
        <label>Material</label>
        <div id="selectMaterial">

            <select id="listaMaterial" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <label>Famila</label>
        <div id="selectFamilia">

            <select id="listaFamilia" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-5">
        <label>Gestor</label>
        <div id="selectGestor">

            <select id="listaGestor" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-5">
        <label>Fornecedor</label>
        <div id="selectFornecedor">

            <select id="listaFornecedor" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>


    <div class="col-lg-4">
        <label>Status</label>
        <div id="selectStatus">

            <select id="listaStatus" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <label>Mês</label>
        <div id="selectMes">

            <select id="listaMes" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <label>Ano</label>
        <div id="selectAno">

            <select id="listaAno" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>


</div>

