
<div class="col-lg-12">

    @*<div class="col-lg-3">
        <label>Empresa</label>

        <div id="selectEmpresa">
            <select id="listaEmpresa" class="demo-default">
                <option></option>
            </select>

        </div>


    </div>*@


    <div class="col-lg-4">
        <label>Material</label>
        <div id="selectMaterial">

            <select id="listaMaterial" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <label>Famila</label>
        <div id="selectFamilia">

            <select id="listaFamilia" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

    <div class="col-lg-4">
        <label>Gestor</label>
        <div id="selectGestor">

            <select id="listaGestor" class="demo-default">
                <option></option>
            </select>
        </div>
    </div>

</div>
