
<div>

    <h2>@ViewBag.Nome  seja bem vindo(a)!</h2>
    @*<h3> Verifique o email cadastrado e clique no link para confirmar sua conta.</h3>*@

<p >
    Seu Cadastro foi realizado com sucesso!
</p>
</div>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@

