
<div>

    <h2>@ViewBag.Nome  seja bem vindo(a)!</h2>
    @*<h3> Verifique o email cadastrado e clique no link para confirmar sua conta.</h3>*@

<p >
    Sua solicitação de cadastro foi enviada à Adminstração do Portal.  
    Dentro de poucos dias, você receberá um email com instruções de acesso. 
    Em caso de dúvidas, entre em contato através do Lync: <strong>ES-BR0056324107</strong>
</p>
</div>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@

