@{
    ViewBag.Title = "Confirmação de troca de senha";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Sua senha foi alterada com sucesso. 
        @Html.ActionLink("Clique aqui para entrar no sistema", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
