
<div class="col-lg-12" style="margin-left: 8%;">
    <div class="col-lg-3">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porContrato" class="radio" checked />
        </div>
        <div class="label-radio">
            Contrato
        </div>
    </div>

    

    <div class="col-lg-3">
        <div class="col-lg-1">
            <input type="radio" name="listagem" value="porMaterial" class="radio" />
        </div>
        <div class="label-radio">
           Material
        </div>
    </div>

   

</div>
